<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
<form action="/home" method="post">
   <input type="text" placeholder="enter the carousel images" name="carouselImages" />
   <input type="text" placeholder="enter the carousel images" name="carouselImages"/>
   <br/>
   <input type="text" placeholder="enter the categories images" name="categoriesUrl" />
   <input type="text" placeholder="enter the categories name" name="categoriesName" />
   <input type="text" placeholder="enter the categories images" name="categoriesUrl" />
   <input type="text" placeholder="enter the categories name" name="categoriesName" />
   <br/>
   <input type="text" placeholder="enter the ocassions" name="ocassions" />
   <input type="text" placeholder="enter the ocassions" name="ocassions" />
   <br/>
   <input type="text" placeholder="enter the discountbanner" name="discountBanner" />
   <br/>
    <input type="text" placeholder="enter the offer" name="offers" />
    <input type="text" placeholder="enter the offer" name="offers" />
    <br/>
    <input type="text" placeholder="enter the spotlight deals" name="spotlight" />
    <input type="text" placeholder="enter the spotlight deals" name="spotlight" />
    <br/>
    <input type="text" placeholder="enter the deals of the day" name="dealsOfTheDay" />
    <input type="text" placeholder="enter the deals of the day" name="dealsOfTheDay" />
    <br/>
    <br/>
    <input type="datetime-local"  name="dealsOfTheDaystart" />
    <input type="datetime-local" placeholder="end date" name="dealsOfTheDayend" />
    <input type="text" placeholder="enter the flash" name="flashdealProducts" />
    <input type="text" placeholder="enter the flash" name="flashdealProducts" />
    <br/>
    <input type="text" placeholder="enter the image" name="imageBanner" />
    <input type="text" placeholder="enter the image" name="imageBanner" />
    <br/><br/>
     <button>submit</button>
</form>
</body>
</html>
